body{
    background-color: rgb(66, 2, 2);
    overflow: hidden;
}

#gameContainer{
    text-align: center;
    margin-top: 30px; 
}

#gameBoard{
    border: 8px solid;
}

#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 80px;
    color: white;
}

#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}